<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App Assessment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <h3>Welcome to your app assessment.</h3>
    
    <p>By clicking the link, you agree that if the Librato addon is not present or attached to your app, a free version of the addon will the enabled. To get started, click this <a href="<%=url%>">link</a>. </p>
</body>

</html>